@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * img {
    width: 100%; }

body {
  font-family: "Open Sans", "sans-serif";
  display: grid;
  grid-template-areas: 'head' 'hero' 'info' 'form' 'footer';
  grid-template-rows: auto auto auto auto; }

.head {
  grid-area: head;
  color: #ffffff; }
  .head .head__container {
    padding: 15px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .head .logo {
    width: 100px; }
  .head ul {
    display: flex;
    list-style: none; }
  .head li {
    font-family: "Raleway", "sans-serif";
    color: #585989;
    text-transform: capitalize;
    margin: 0 9px; }

.hero {
  font-size: 90%;
  grid-area: hero;
  color: #070439; }
  .hero .hero__container {
    padding: 65px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .hero .hero__image {
    width: 85%; }
  .hero .hero__text {
    width: 85%;
    text-align: center; }
  .hero .hero__form input[type="text"] {
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    width: 85%;
    padding: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #bfbfbf; }
  .hero .hero__form input[type="text"]:focus {
    outline: none; }
  .hero .hero__form .btn-form {
    border-radius: 3px;
    font-family: "Raleway", "sans-serif";
    font-size: 1em;
    padding: 8px;
    width: 85%;
    text-transform: capitalize;
    background: #3065f8;
    border: none;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px; }
  .hero h2 {
    padding: 15px 0;
    font-family: "Open Sans", 'sans-serif';
    font-weight: 700; }

.info {
  grid-area: info;
  background: pink;
  color: #fff; }

.form {
  grid-area: form;
  background: teal;
  color: #fff; }

footer {
  grid-area: footer;
  background: lightblue;
  color: #fff; }
