@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * img {
    width: 100%; }

body {
  font-family: "Open Sans", "sans-serif";
  display: grid;
  grid-template-areas: 'head' 'hero' 'info' 'form' 'footer';
  grid-template-rows: auto auto auto auto; }

.head {
  width: 100%;
  grid-area: head;
  color: #ffffff; }
  .head .head__container {
    padding: 15px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .head .logo {
    width: 100px; }
  .head ul {
    display: flex;
    list-style: none; }
  .head li {
    font-family: "Raleway", "sans-serif";
    color: #585989;
    text-transform: capitalize;
    margin: 0 9px; }

.hero {
  grid-area: hero;
  color: #070439; }
  .hero .hero__container {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .hero .hero__image {
    width: 85%; }
  .hero .hero__text {
    text-align: center; }

.info {
  grid-area: info;
  background: pink;
  color: #fff; }

.form {
  grid-area: form;
  background: teal;
  color: #fff; }

footer {
  grid-area: footer;
  background: lightblue;
  color: #fff; }
