@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700');
@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    img{
        width: 100%;
    }
}
body{
    font-family: "Open Sans", "sans-serif";
    display: grid; 
    grid-template-areas: 
    'head'
    'hero'
    'info'
    'form'
    'footer';
    grid-template-rows: auto auto auto auto;
}
.head{
    width: 100%;
    grid-area: head;
    color: #ffffff;
    .head__container{
        padding: 15px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 100px;
    }
    ul{
        display: flex;
        list-style: none;
    }
    li{
        font-family: "Raleway", "sans-serif";
        color: $lightblue;
        text-transform: capitalize;
        margin: 0 9px;
    }
}
.hero{
    grid-area: hero;
    color: $darkblue;
    .hero__container{
        padding: 65px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero__image{
        width: 85%;
    }
    .hero__text{
        text-align: center;
    }
}
.info{
    grid-area: info;
    background: pink;
    color: #fff;
}
.form{
    grid-area: form;
    background: teal;
    color: #fff;
}
footer{
    grid-area: footer;
    background: lightblue;
    color: #fff;
}