@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700');
@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    img{
        width: 100%;
    }
}
body{
    font-family: "Open Sans", "sans-serif";
    display: grid; 
    grid-template-areas: 
    'head'
    'hero'
    'info'
    'form'
    'footer';
    grid-template-rows: auto auto auto auto;
}
.head{
    grid-area: head;
    color: #ffffff;
    .head__container{
        padding: 15px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 100px;
    }
    ul{
        display: flex;
        list-style: none;
    }
    li{
        font-family: "Raleway", "sans-serif";
        color: $lightblue;
        text-transform: capitalize;
        margin: 0 9px;
    }
}
.hero{
    font-size: 90%;
    grid-area: hero;
    color: $darkblue;
    .hero__container{
        padding: 65px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .hero__image{
        width: 85%;
    }
    .hero__text{
        width: 85%;
        text-align: center;
    }
    .hero__form{
        input[type="text"]{
            border: 1px solid $lightgray;
            border-radius:3px;
            width: 85%;
            padding: 8px;
            -webkit-border-radius:3px;
            -moz-border-radius:3px;
            -ms-border-radius:3px;
            -o-border-radius:3px;
            color: $lightgray;
        }
        input[type="text"]:focus{
            outline: none;
        }
        .btn-form{
            border-radius:3px;
            font-family: "Raleway", "sans-serif";
            font-size: 1em;
            padding: 8px;
            width: 85%;
            text-transform: capitalize;
            background: $blue;
            border: none;
            color: #fff;
            -webkit-border-radius:3px;
            -moz-border-radius:3px;
            -ms-border-radius:3px;
            -o-border-radius:3px;
        }
    }
    h2{
        padding: 15px 0;
        font-family: "Open Sans", 'sans-serif';
        font-weight: 700;
    }

}
.info{
    grid-area: info;
    width: 100%;
    background: url('../images/bg-curve-mobile.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #fff;
    .info__container{
        padding: 50px 0;
        color: $darkblue;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .info__image{
        width: 85%;
    }
    .info__text{
        width: 85%;
        text-align: center;

        h4{
            padding: 20px 0;
            font-family: "Raleway", "sans-serif";
             color: $darkblue;
        }
        p{
            color: $lightblue;
            text-align: left;
        }
        span{
            color: $cyan;
            text-decoration: underline;
            img{
                width: 20px;
            }
        }
        
    }
    .testimonial{
        margin: 0 auto;
        font-size: 0.8em;
        padding: 10px 33px;
        box-shadow: 2px 2px 12px 5px hsl(238, 22%, 90%);;
        width: 350px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        line-height: 165%;
        img{
            width: 40px;
        }
        .testimonial__quote img{
            width: 30px;
        }
        .testimonial__image{
            display: flex;
            font-size: 0.7em;
        }
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        .test__image{
            margin-right: 5px;
            img{
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
        p b{
            color: $darkblue;
        }
    }
}
.form{
    grid-area: form;
    background: $lightblue;
    color: #fff;

    .form__container{
        text-align: center;
        padding: 30px 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .form__text p{
        margin: 20px 0;
    }
    .form__text h3{
        font-weight: 400;
        font-family: "Raleway", "sans-serif";
        padding: 15px 0;
    }
    .form--bottom, .form-btn-bottom{
        margin-bottom: 10px;
        width: 70%;
        padding: 9px;
        border: none;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
}
    .form-btn-bottom{
        color: #fff;
        padding: 9px;
        background: $blue;
        text-transform: capitalize;
    }
}
footer{
    height: 90vh;
    svg *{
        fill: #fff;
    }
    grid-area: footer;
    background: $darkblue;
    color: #fff;
    .footer__container{
        height: 100%;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        ul{
            list-style: none;
        }
        .icons li span i{
            margin-right: 5px;
        }
        li{
            margin: 12px 0;
        }
        .footer__nav, .footer__nav2{
            text-transform: capitalize;
        }
        .footer__icons{
            text-align: center;
            i{
                cursor: pointer;
                text-align: center;
                border: 1px solid #fff;
                padding: 5px;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                width: 30px;
                margin-left: 5px;
            }
        }
    }
}