@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700');
@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    img{
        width: 100%;
    }
}
body{
    font-family: "Open Sans", "sans-serif";
    display: grid; 
    grid-template-areas: 
    'head'
    'hero'
    'info'
    'form'
    'footer';
    grid-template-rows: auto auto auto auto;
}
.head{
    grid-area: head;
    color: #ffffff;
    .head__container{
        padding: 15px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 100px;
    }
    ul{
        display: flex;
        list-style: none;
    }
    li{
        font-family: "Raleway", "sans-serif";
        color: $lightblue;
        text-transform: capitalize;
        margin: 0 9px;
    }
}
.hero{
    font-size: 90%;
    grid-area: hero;
    color: $darkblue;
    .hero__container{
        padding: 65px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .hero__image{
        width: 85%;
    }
    .hero__text{
        width: 85%;
        text-align: center;
    }
    .hero__form{
        input[type="text"]{
            border: 1px solid $lightgray;
            border-radius:3px;
            width: 85%;
            padding: 8px;
            -webkit-border-radius:3px;
            -moz-border-radius:3px;
            -ms-border-radius:3px;
            -o-border-radius:3px;
            color: $lightgray;
        }
        input[type="text"]:focus{
            outline: none;
        }
        .btn-form{
            border-radius:3px;
            font-family: "Raleway", "sans-serif";
            font-size: 1em;
            padding: 8px;
            width: 85%;
            text-transform: capitalize;
            background: $blue;
            border: none;
            color: #fff;
            -webkit-border-radius:3px;
            -moz-border-radius:3px;
            -ms-border-radius:3px;
            -o-border-radius:3px;
        }
    }
    h2{
        padding: 15px 0;
        font-family: "Open Sans", 'sans-serif';
        font-weight: 700;
    }

}
.info{
    grid-area: info;
    background: pink;
    color: #fff;
}
.form{
    grid-area: form;
    background: teal;
    color: #fff;
}
footer{
    grid-area: footer;
    background: lightblue;
    color: #fff;
}