@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:600");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 18px;
  padding: 25px 25px;
  background-color: #ebfbff;
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat; }

header .head {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px; }
  header .head .head__image img {
    width: 120px; }
  header .head .head__btn button {
    background: #fff;
    font-family: 'Open sans', 'sans-serif';
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 100px;
    box-shadow: 1px 1px 5px #b7b7b7;
    border: none;
    padding: 3px;
    width: 90px;
    height: 25px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px; }

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero .hero__text {
    text-align: center; }
    .hero .hero__text h2 {
      font-family: "Poppins", "sans-serif";
      font-weight: 600; }
    .hero .hero__text p {
      color: #808d99; }
  .hero .hero__image img {
    width: 100%; }
  .hero .hero--btn {
    font-weight: 700;
    color: #fff;
    border: none;
    padding: 12px;
    width: 70%;
    border-radius: 50px;
    background: #ff52bf;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px; }
