@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:700,400');
@import 'variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Raleway", sans-serif;
}
ul{
    list-style: none;
}
body{
    font-family: "Open Sans", sans-serif;
    display: grid; 
    grid-template-areas: 
    'head'
    'hero'
    'products'
    'footer';
    grid-template-rows: auto auto auto 1300px;
    grid-template-columns: auto;
}
.products__inner .products__image, .hero__inner .hero__image{
    width: 100%;
    img{
        width: 100%;
    }
}
header{
    height: 700px;
    position: relative;
    background-image: linear-gradient(to bottom, $darkblue, $darkblue, $lightblue);
    clip-path: polygon(0% 0, 100% 0, 100% calc(100% - 5vw), 0 calc(100% - 10vw));
    margin-bottom: 80px;
    grid-area: head;
    .head__inner{
        margin-bottom: 90px;
        align-items: center;
        padding: 20px 20px;
        grid-gap: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .links{
            font-family: "Raleway", sans-serif;
            grid-column: 3/4;
        }
        ul{
            padding: 0 30px;
            display: flex;
        }
        li{
            font-size: 0.9em;
            text-align: center;
            color: #fff;
            margin-left: 10px;
        }
        .signup--btn{
            width: 80px;
            text-transform: capitalize;
            border-radius:2px;
            color: #fff;
            border: none;
            padding: 5px 5px;
            background: $green;
            outline: none;
            -webkit-border-radius:2px;
            -moz-border-radius:2px;
            -ms-border-radius:2px;
            -o-border-radius:2px;
            &:focus{
                outline: none;
            }
        }
        img{
            padding: 0 30px;
        }
    }
    @media (min-width: 500px){
        header{
            margin-bottom: 60px;
        }
    }
}
.hero{
    grid-area: hero;
    color: #fff;
    .hero__inner{
        width: 100%;
        text-align: center;

        img{
            width: 50%;
        }
        .hero__text{
            padding: 0 36px;
        }
        h3{
            padding: 10px 0;
        }
        .hero--btn{
            margin: 15px 0;
            text-align: center;
            width: 160px;
            background: $green;
            color: #fff;
            font-family: "Raleway", sans-serif;
            border: none;
            padding: 8px 10px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
        }
    }
    @media (min-width: 500px){
        .hero__inner{
            img{
                width: 35%;
            }
            .hero__text h3{
                padding: 15px 45px;
            }
        }
    }
    @media (min-width: 768px){
        .hero__inner{
            grid-column-gap: 10px;
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            img{
               width: 65%; 
            }
            .hero__text{
                text-align: left;
                order: -1;
                h3{
                    line-height: 130%;
                    font-size: 1.4em;
                    padding: 0;
                }
            }
        }
    }
    @media (min-width: 1024px){
        header .head__inner{
            margin-bottom: 100px;
        }
        .hero__inner{
            img{
                width: 300px;
            }
            .hero__text h3{
                font-size: 1.6em;
            }
        }
    }
}
.products{
    h2{
        font-size: 2em;
        color: $DDblue;
        line-height: 120%;
        text-align: center;

    }
    grid-area: products;
    .products__inner{
        margin: 30px 0;
        .products__image{
            margin: 35px 0;
            text-align: center;
            img{
                width: 60%;
            }
        }
        .products__text{
            padding: 10px 15px;
            text-align: left;
            h4{
                color: $DDblue;
                padding: 15px 0;
            }
        }
    }
    .products__form{
        margin: 30px 0;
        text-align: center;
        h2{
            color: $DDblue;
            padding: 20px 0;
        }
        p{
            color: $darkblue;
            padding: 20px 15px;
        }
        .form--wrapper{
            margin-top: 30px;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        .form--input{
            box-shadow: 1px 0px 24px 1px rgba(0, 0, 0, 0.1);
            width: 330px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 15px 15px;
            margin-bottom: 10px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
}
        .form--btn{
            color: #fff;
            background: $green;
            padding: 15px 15px;
            width: 330px;
            border: none;
            border-radius:2px;
            -webkit-border-radius:2px;
            -moz-border-radius:2px;
            -ms-border-radius:2px;
            -o-border-radius:2px;
            -webkit-border-radius:2px;
        }
    }
    @media(min-width: 500px){
        .products__inner{
            .products__image{
                img{
                    width: 40%;
                }
            }
        }
    }
    @media(min-width: 1024px){
        .products{
            h2{
                margin: 0;
                padding: 0; 
            }
        }
        .products__inner{
            padding: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 100px 0;
            .products__image{
                margin: 0;
            }
            .products__image img{
                width: 300px;
            }
            .products__text{
                h4{
                    font-size: 1.1em;
                }
                width: 160%;
                grid-row-gap: 30px;
                display: grid;
                grid-column-gap: 30px;
                grid-template-columns: 1fr 1fr
            }
        }
    }
}
#footer{
    background-image: linear-gradient(to bottom, $DDblue, $DDblue);
       -webkit-clip-path: polygon(0 10%, 100% 14%, 100% 100%, 0 100%);
        clip-path: polygon(0 10%, 100% 14%, 100% 100%, 0 100%);
    grid-area: footer;
    // height: 1000px;
    footer{
        position: relative;
        height: 100vh;
        .footer__inner{
            position: absolute;
            color: #fff;
            top: 410px;
            height: 100vh;
            padding: 0 30px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;

            .footer__fylo{
                margin-bottom: 40px;
                ul li{
                    margin: 25px 0;

                    span i{
                        color: $lightblue;
                        margin-right: 5px;
                        font-size: 1.2em;
                    }
                }
            }
            .footer__form{
                h3{
                    text-align: center;
                }
                .footer--form{
                    margin: 40px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    width: 100%;
                    input{
                        border-radius:2px;
                        width: 320px;
                        border: none;
                        padding: 10px;
                        -webkit-border-radius:2px;
                        -moz-border-radius:2px;
                        -ms-border-radius:2px;
                        -o-border-radius:2px;
                    }
                    .footer--form--btn{
                        background: $green;
                        color: #fff;
                        margin: 10px 0;
                        border: none;
                        width: 150px;
                        padding: 10px;
                        border-radius: 2px;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        -ms-border-radius: 2px;
                        -o-border-radius: 2px;
                    }
                }
            }
            .footer__nav{
                .bold{
                    margin-bottom: 10px;
                    font-weight: bold;
                }
                order: 3;
                ul{
                    margin-bottom: 35px;
                }
                li{
                    margin-bottom: 12px;
                }
            }
        }
   }
   @media (min-width: 500px){

   }
}
