@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:700,400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; }

ul {
  list-style: none; }

body {
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-areas: 'head' 'hero' 'products' 'footer';
  grid-template-rows: auto auto auto 1200px;
  grid-template-columns: auto; }

.products__inner .products__image, .hero__inner .hero__image {
  width: 100%; }
  .products__inner .products__image img, .hero__inner .hero__image img {
    width: 100%; }

header {
  height: 700px;
  position: relative;
  background-image: linear-gradient(to bottom, #2b258d, #2b258d, #bbb8fa);
  clip-path: polygon(0% 0, 100% 0, 100% calc(100% - 5vw), 0 calc(100% - 10vw));
  margin-bottom: 80px;
  grid-area: head; }
  header .head__inner {
    margin-bottom: 90px;
    align-items: center;
    padding: 20px 20px;
    grid-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    header .head__inner .links {
      font-family: "Raleway", sans-serif;
      grid-column: 3/4; }
    header .head__inner ul {
      padding: 0 30px;
      display: flex; }
    header .head__inner li {
      font-size: 0.9em;
      text-align: center;
      color: #fff;
      margin-left: 10px; }
    header .head__inner .signup--btn {
      width: 80px;
      text-transform: capitalize;
      border-radius: 2px;
      color: #fff;
      border: none;
      padding: 5px 5px;
      background: #05d69b;
      outline: none;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px; }
      header .head__inner .signup--btn:focus {
        outline: none; }
    header .head__inner img {
      padding: 0 30px; }
  @media (min-width: 500px) {
    header header {
      margin-bottom: 60px; } }

.hero {
  grid-area: hero;
  color: #fff; }
  .hero .hero__inner {
    width: 100%;
    text-align: center; }
    .hero .hero__inner img {
      width: 50%; }
    .hero .hero__inner .hero__text {
      padding: 0 36px; }
    .hero .hero__inner h3 {
      padding: 10px 0; }
    .hero .hero__inner .hero--btn {
      margin: 15px 0;
      text-align: center;
      width: 160px;
      background: #05d69b;
      color: #fff;
      font-family: "Raleway", sans-serif;
      border: none;
      padding: 8px 10px;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px; }
  @media (min-width: 500px) {
    .hero .hero__inner img {
      width: 35%; }
    .hero .hero__inner .hero__text h3 {
      padding: 15px 45px; } }
  @media (min-width: 768px) {
    .hero .hero__inner {
      grid-column-gap: 10px;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .hero .hero__inner img {
        width: 65%; }
      .hero .hero__inner .hero__text {
        text-align: left;
        order: -1; }
        .hero .hero__inner .hero__text h3 {
          line-height: 130%;
          font-size: 1.4em;
          padding: 0; } }
  @media (min-width: 1024px) {
    .hero header .head__inner {
      margin-bottom: 100px; }
    .hero .hero__inner img {
      width: 300px; }
    .hero .hero__inner .hero__text h3 {
      font-size: 1.6em; } }

.products {
  grid-area: products; }
  .products h2 {
    font-size: 2em;
    color: #070439;
    line-height: 120%;
    text-align: center; }
  .products .products__inner {
    margin: 30px 0; }
    .products .products__inner .products__image {
      margin: 35px 0;
      text-align: center; }
      .products .products__inner .products__image img {
        width: 60%; }
    .products .products__inner .products__text {
      padding: 10px 15px;
      text-align: left; }
      .products .products__inner .products__text h4 {
        color: #070439;
        padding: 15px 0; }
  .products .products__form {
    margin: 30px 0;
    text-align: center; }
    .products .products__form h2 {
      color: #070439;
      padding: 20px 0; }
    .products .products__form p {
      color: #2b258d;
      padding: 20px 15px; }
    .products .products__form .form--wrapper {
      margin-top: 30px;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center; }
    .products .products__form .form--input {
      box-shadow: 1px 0px 24px 1px rgba(0, 0, 0, 0.1);
      width: 330px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 15px 15px;
      margin-bottom: 10px;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px; }
    .products .products__form .form--btn {
      color: #fff;
      background: #05d69b;
      padding: 15px 15px;
      width: 330px;
      border: none;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      -webkit-border-radius: 2px; }
  @media (min-width: 500px) {
    .products .products__inner .products__image img {
      width: 40%; } }
  @media (min-width: 1024px) {
    .products .products h2 {
      margin: 0;
      padding: 0; }
    .products .products__inner {
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 100px 0; }
      .products .products__inner .products__image {
        margin: 0; }
      .products .products__inner .products__image img {
        width: 300px; }
      .products .products__inner .products__text {
        width: 160%;
        grid-row-gap: 30px;
        display: grid;
        grid-column-gap: 30px;
        grid-template-columns: 1fr 1fr; }
        .products .products__inner .products__text h4 {
          font-size: 1.1em; }
    .products .products__form .form--wrapper {
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .products .products__form .form--wrapper .form--input {
        margin-right: 15px;
        margin-bottom: 0;
        padding: 17px 15px; }
      .products .products__form .form--wrapper .form--btn {
        width: 200px;
        font-size: 1em; }
    .products .products__form p {
      padding: 20px 166px; } }

#footer {
  grid-area: footer; }
  #footer footer {
    background-image: linear-gradient(to bottom, #070439, #070439);
    -webkit-clip-path: polygon(0 10%, 100% 14%, 100% 100%, 0 100%);
    clip-path: polygon(0 10%, 100% 14%, 100% 100%, 0 100%); }
    #footer footer .footer__inner {
      color: #fff;
      padding: 0 30px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column; }
      #footer footer .footer__inner .footer__fylo {
        margin-bottom: 40px; }
        #footer footer .footer__inner .footer__fylo ul {
          font-size: 1.3em; }
        #footer footer .footer__inner .footer__fylo ul li {
          margin: 25px 0; }
          #footer footer .footer__inner .footer__fylo ul li span i {
            color: #bbb8fa;
            margin-right: 5px;
            font-size: 1.2em; }
      #footer footer .footer__inner .footer__form h3 {
        font-size: 1.5em;
        text-align: end; }
      #footer footer .footer__inner .footer__form .footer--form {
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 100%; }
        #footer footer .footer__inner .footer__form .footer--form input {
          border-radius: 2px;
          width: 320px;
          border: none;
          padding: 10px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          -o-border-radius: 2px; }
        #footer footer .footer__inner .footer__form .footer--form .footer--form--btn {
          background: #05d69b;
          color: #fff;
          margin: 10px 0;
          border: none;
          width: 150px;
          padding: 10px;
          border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          -o-border-radius: 2px; }
      #footer footer .footer__inner .footer__nav {
        font-size: 1.1em;
        order: 3; }
        #footer footer .footer__inner .footer__nav .bold {
          margin-bottom: 10px;
          font-weight: bold; }
        #footer footer .footer__inner .footer__nav ul {
          margin-bottom: 35px; }
        #footer footer .footer__inner .footer__nav li {
          margin-bottom: 12px; }
  @media (min-width: 1024px) {
    #footer #footer {
      height: 400px; }
    #footer footer .footer__inner {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
      #footer footer .footer__inner .footer__nav {
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        padding: 0 15px;
        display: flex; }
        #footer footer .footer__inner .footer__nav ul {
          margin: 0 10px; }
      #footer footer .footer__inner .footer__fylo {
        margin-bottom: 0; }
      #footer footer .footer__inner .footer__form {
        order: 3;
        width: 44%; }
        #footer footer .footer__inner .footer__form .footer--form {
          margin: 19px 0; } }
