@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:600');
@import 'variables';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', 'sans-serif';
    font-size: $body-font-size;
}
.bg-wrapper{
    background-color: $primary-pale-cyan;
    background-image: url("../images/bg-hero-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
}
header .head{
    padding: $content-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

    .head__image img{
        width: 120px;
    }
    .head__btn button{
        background: #fff;
        font-family: 'Open sans', 'sans-serif';
        text-transform: capitalize;
        font-weight: 700;
        border-radius: 100px;
        box-shadow: 1px 1px 5px rgb(183, 183, 183);
        border: none;
        padding: 3px;
        width: 90px;
        height: 25px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }
}
.hero__container{
    padding: $side-padding;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero__text{
        text-align: center;
        h2{
            font-family: $poppins;
            font-weight: $heading;
        }
        p{
            color: $primary-gray-blue;
        }
    }
    .hero__image img{
        width: 100%;
    }
    .hero--btn{
        font-weight: 700;
        color: #fff;
        border: none;
        padding: 12px;
        width: 70%;
        border-radius:50px;
        background: $primary-pink;
        -webkit-border-radius:50px;
        -moz-border-radius:50px;
        -ms-border-radius:50px;
        -o-border-radius:50px;
    }
}
.info{
    margin-top: 50px;
    margin-bottom: 120px;
    background: #fff;
    .info__cards{
        height: 100%;
        padding: $side-padding;
        display: flex;
        flex-direction: column;
    }
    .image{
        width: 70%;
    }
    .info__card{
        height: 420px;
        padding: 20px;
        border-radius:10px;
        box-shadow: -1px 8px 20px rgb(225, 225, 225);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // align-items: center;
        margin-bottom: 35px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
    }
    .info__text, .info__image{
        text-align: center;

        h4{
            font-weight: $heading;
            font-family: $poppins;
        }
        p{
            color: $primary-gray-blue;
            padding: 20px 0;
            font-size: 0.8em;
        }
    }

}
.download{
    position: relative;
    padding: $side-padding;

    .download__card{
        width: 340px;
        border-radius:10px;
        box-shadow: 0px -5px 21px -1px rgba(205, 205, 205, 0.75);
        padding: 12px;
        top: -55px;
        right: 8%;
        background: #fff;
        position: absolute;
        text-align: center;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
    }
    .download--btn{
        border: none;
        background: $primary-pink;
        color: #fff;
        margin: 10px 0;
        padding: 9px;
        width: 55%;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
}
}
footer{
    color: #fff;
    background: $primary-dark-cyan;
    .footer__container{
        padding: $side-padding; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.8em;
    }
    .footer__huddle{
        margin-top: 150px;
    }
    svg *{
        fill: #fff;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        }
    ul{
        list-style: none;
    }
    li{
        padding: 10px 5px;
    }
    span i{
        margin-right: 9px;
        font-size: 1.2em;
    }
    .footer__nav{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .footer__icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__icons .icons{
        display: flex;
    }
    .footer__icons i{
        text-align: center;
        border: 1px solid #fff;
        padding: 8px;
        width: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    p{
        font-family: 'Open Sans', 'sans-serif'
    }
}