$primary-pink: hsl(322, 100%, 66%);
$primary-pale-cyan: hsl(193, 100%, 96%);
$primary-dark-cyan: hsl(192, 100%, 9%);
$primary-gray-blue: hsl(208, 11%, 55%);
$poppins: 'Poppins', 'sans-serif';
$body-font-size: 18px; 
$heading: 600;